.voluspaproduct-media-container{
    display: flex;
    height: 100%;
    width: 100%;
    cursor: zoom-in;
}
.voluspaproduct__media{
    height: 467px;
    width: 467px;
    cursor: zoom-in;
}
.voluspaproduct__media-list{

}
.shopify-section{
    
}