.voluspaproduct-media-container{
    display: flex;
    height: 100%;
    width: 100%;
    cursor: zoom-in;
}
.voluspaproduct__media{
    height: 100%;
    width: 100%;
    cursor: zoom-in;
}
.shopify-section{
    
}
.voluspaproduct__media-list{
    height: 100px;
    width: 100px;
}
.product__media-wrapper{
    display: flex !important;
}